.env
.DS_Store
*.pyc
__pycache__/
.ipynb_checkpoints/
*.db-journal
secret/
secrets/
data/raw/
data/transformed/
*.csv
.streamlit/secrets.toml
configs/unt_internal.yml
github-recovery-codes.txtg i t h u b - r e c o v e r y - c o d e s . t x t 
 
 